[2020-11-14 00:27] ladyada opened #4 "tweak comments"
update description of  :param text_wrap and  :param text_maxlen

[2020-11-14 00:27] ladyada opened #5 "allow text anchoring"
screen is big enough we may want to center/right-justify text

[2020-11-14 00:41] #4 closed

[2020-11-14 02:50] #5 closed

[2020-11-16 18:55] ladyada opened #9 "label does not wrap text when set_text rather than fetch()'d"
text should be wrapped in this example 👍

[code]

[2020-11-17 00:01] #9 closed

[2020-11-17 00:18] makermelissa opened #12 "Factor out some layers to separate libraries"
As suggested by @tannewt, this will make maintaining PyPortal, MatrixPortal, MagTag, and Blinka_PyPortal libraries easier to maintain.

Notable ones include the FakeRequests, WiFi Module, and possibly Graphics libraries. With this layered approach, we can even do something similar to the PyPortal library.

[2020-11-19 19:00] ladyada opened #13 "handle rotation in a more elegant way?"
for now this works, if you set the rotation thru the magtag.display you need to recreate the magtag object... or maybe this is fine!
[code]

[2020-11-19 19:18] makermelissa commented on #13
Now that board.DISPLAY is included in Magtag, I plan on removing the display driver init code which isn't being used at this point. Changing board.DISPLAY.rotation _should_ be the same as changing magtag.display.rotation, but perhaps it's not. I'll try some things next week when I start working on factoring out a portal base library. Maybe we need some kind of update function that handles it.

[2020-11-19 19:20] ladyada commented on #13
it is the same but the display buffer uses the old dimensions, we need to update those

[2020-11-19 19:23] makermelissa commented on #13
Ok, then maybe we can make a property that handles this, though that may or may not be a more elegant way.

[2020-11-19 20:19] todbot opened #14 "How to use without requiring Adafruit.io?"
I'd like to use the MagTag library without it requiring connecting to Adafruit.io, but it currently seems hard-coded to get time from there, and errors with:
[code]

[2020-11-19 20:27] ladyada commented on #14
correct, the native time getter uses adafruit io. you're free to use other time-APIs such as worldtimeapi.org/api/timezone/America/New_York by creating a custom request but since we dont want to have folks possibly thrash a free service, we don't use it by default

[2020-11-19 20:27] #14 closed

[2020-11-19 20:45] ladyada commented on #14
all good - open any issues you like :)

[2020-11-20 03:34] caternuson opened #15 "url property returns json_path"
Probably just a typo?

[code]

[2020-11-20 04:59] makermelissa commented on #15
Fixed via #16

[2020-11-20 05:00] #15 closed

[2020-11-24 12:51] DaveVdE opened #20 "Still drawing >50mA during time.sleep()"
The plan was to have a new update downloaded every 60s and then put the MagTag to sleep saving battery, but I'm measuring a constant 50-100mA current draw even when doing nothing.

I think the WiFi radio is to blame, but I can't figure out how to turn off the WiFi during sleep. How do I do this?

[2020-11-24 13:07] dhalbert commented on #20
Real deep sleep is in progress. I just got it to work last night and will be checking the current draw today. It should be in a beta release soon. See https://github.com/adafruit/circuitpython/issues/2796, though the API is still evolving.

[2020-11-24 14:50] DaveVdE commented on #20
Thank you, that was very helpful.

On Tue, 24 Nov 2020 at 14:08, Dan Halbert <notifications@github.com> wrote:

[2020-11-24 18:43] kattni opened #21 "MagTag onboard NeoPixel brightness is not working"
Attempting to set the brightness of the on-board NeoPixels using the MagTag NeoPixel object does not work. They are max brightness regardless of what the brightness is set to.

Tested setting the NeoPixel brightness using raw CircuitPython and the NeoPixel library, and it was successful (though there is a bug somewhere in which setting `brightness = 0` makes them max brightness - looking into wher

[2020-11-24 18:54] ladyada commented on #21
hi are you trying
[code]

[2020-11-24 19:29] kattni commented on #21
That works. Thank you.

Though I don't understand why it's required - it defaults to `False` in the lib.

https://github.com/adafruit/Adafruit_CircuitPython_MagTag/blob/056ad75102a5b870ba3e046a9c5498aa4cd4c675/adafruit_magtag/peripherals.py#L47

[2020-11-24 19:29] #21 closed

[2020-11-24 19:54] makermelissa opened #22 "Library has a hard time handling empty JSON responses"
After helping Anne with some code, I noticed that if the json response is `[]` (which is totally valid json), the library doesn't do a good job with handling this as it handles this as Falsy. Also, it could use better messages when an expected path isn't found.

[2020-11-24 21:00] makermelissa opened #23 "No way to specify whether a text should be updated by fetch or not"
Ok, the issue is that when we add text with add_text, there isn't really a way to tell the fetch function to skip it if it's not meant to be updated with a value. This is kind of an oversight on my part and only occurs if the first label isn't meant to be updated. While this doesn't affect the majority of projects, it is something that should be fixed before too long. This likely affects the Matri

[2020-11-24 21:19] #22 closed

[2020-11-24 21:19] #23 closed

[2020-11-28 04:17] fivesixzero opened #28 "JSON handling for non application/json content types"
Some useful REST endpoints don't return with a `content-type` of `application/json` while still returning valid JSON, preventing the use of the library's built-in JSON parsing/processing.

I ran into this while working with the freely available [US National Weather Service forecast API](https://www.weather.gov/documentation/services-web-api), which can only respond with GeoJSON (`application/geo+j

[2020-12-02 18:22] kattni opened #30 "Code stops running when network fails to connect."
I successfully connected to the network repeatedly, and then on a refresh, received two different errors on two different resets - one unknown network error and one authentication error. Each time, it failed to the error and the code stopped running, and it required a hard reset to begin running the code again.

Through discussion with @makermelissa, we both agree it should retry a network connect

[2020-12-04 01:25] #20 closed

[2020-12-04 18:50] makermelissa commented on #12
Ok, I'm kinda designing this as I go along. I've already split out the main MagTag functionality into the PortalBase library and
and just extending function with device specific stuff which feels like a great approach. I've also determined that I want a NetworkBase and GraphicsBase so I can guarantee certain things are available and further factor out common pieces of code. I'm passing in graphics

[2020-12-04 23:41] dglaude opened #34 "My bmp make MagTag bootloop without message"
If you take my pihole.bmp in a command like 'magtag.graphics.set_background("/bmps/pihole.bmp")' the MagTag Bootloop (without error message).

See https://github.com/dglaude/bootloop_MagTagLib for file.

Obviously, something is wrong in my BMP (and I would love to know what and any fix is welcome), but it should not bootloop without a message.

[2020-12-06 22:15] #13 closed

[2020-12-06 22:15] ladyada commented on #13
with deep sleep this may not be an issue anymore, we'll start over fresh on every run

[2020-12-07 03:52] slootsky commented on #28
What if there was a parameter added to fetch?
json_content-type : defaults to None
If supplied, this would be compared to content-type and if it matched, it would be considered JSON.

`    def fetch_data(
        self,
        url,
        *,
        headers=None,
        json_path=None,
        regexp_path=None,
        timeout=10,
        json_content-type=None,
    ):
        """Fetch data from

[2020-12-07 04:09] slootsky commented on #34
how did you create your bmp?
If I take your .bmp , load it into mspaint and save it again, I get a file with the same size, and the same first 27 bytes, but then there are small variations for about the next 80 bytes, and then the rest of the files are identical.
I didn't try loading my new bmp into a magtag to see if it bootlooped.

[2020-12-07 05:51] fivesixzero commented on #28
That sounds like a good way of handling it. :)

[2020-12-07 07:47] dglaude commented on #34
I used MS paint on Windows 10, just because I don't have better for the moment.
To make sure I start with the right palette, I first loaded a working file using those 4 colors I need.
I guess I need to analyse with imagik or invest in better tools for bitmap file (asprite?).

[2020-12-07 18:51] dglaude commented on #34
I believe that Windows 10 Paint does put some "color space" information in the file.
When opening the file in GIMP and saving without that color space information, the file become readable...
I should work on my workflow, but that saved the day for me.

[2020-12-07 18:53] makermelissa commented on #34
Gotcha. I'll see if maybe there's something that can be checked so at least you know it's an invalid bitmap.

[2020-12-07 18:57] makermelissa commented on #34
Since it uses OnDiskBitmap, this may have to be something that's addressed at the CircuitPython level.

[2020-12-08 00:06] #12 closed

[2020-12-15 19:50] kattni opened #40 "Light sensor not included in library"
The light sensor is not included in the MagTag library. It should be added as it is a feature on the board.

[2020-12-15 22:14] #40 closed

[2020-12-15 23:12] leadmocha opened #43 "Incorrect import causes MagTag to freeze"
Hi, not sure if this is a CircuitPython bug or a library bug, but on my MagTag running CircuitPython 6.1.0beta2 the following line causes the MagTag to stop responding when I have it plugged into the computer.

The issue happens both in the REPL and in code.py.  If I connect via minicom, then Ctrl+C to enter the REPL, then type:

```from adafruit_magtag.magtag import Graphics```

minicom stops res

[2020-12-16 00:52] makermelissa commented on #43
Please try using
[code]

[2020-12-16 01:03] makermelissa commented on #43
I changed the title because it should give an error message rather than freeze.

[2020-12-16 01:09] leadmocha commented on #43
Thanks Melissa,

Okay, that worked, but now it just freezes on the next line which I changed from

```from adafruit_magtag.magtag import Network```

to

```from adafruit_magtag.network import Network```

Is this the wrong way to import Network?

[2020-12-16 01:30] cjoh opened #44 "EPaperDisplay object cannot assign attribute 'rotation'"
[code]

This gives me an AttributeError on line 57 in __init__ from adafruit_magtag/graphics.py

[2020-12-16 17:14] bdsvac opened #45 "Magtag screen won't update"
The magtag is stuck on the Digi-Key screen from the factory. Using the latest:  adafruit-circuitpython-adafruit_magtag_2.9_grayscale-en_US-20201216-f2204d7.uf2 from S3, using https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases/download/20201216/adafruit-circuitpython-bundle-6.x-mpy-20201216.zip bundle. Used esp-idf to write bootloader: https://learn.adafruit.com/adafruit-magtag/inst

[2020-12-16 17:59] ladyada commented on #45
how about trying the 'all in one demo' file here
https://learn.adafruit.com/adafruit-magtag/shipping-demo
download the UF2 and drag it onto the magtag, that will determine where the issue lies

[2020-12-16 18:17] bdsvac commented on #45
@ladyada Running the demo, the LED's, buttons, and speaker work. In the console I am seeing light sensor and accelerometer data, but the screen is still displaying the Digi-Key logo from the factory.
![PXL_20201216_181601173](https://user-images.githubusercontent.com/8561979/102389358-9dcd7a00-3f98-11eb-92c6-0c4a4315478d.jpg)

[2020-12-16 18:19] ladyada commented on #45
turn off, flip over the board and verify the display is well-seated in the connector. maybe reseat it.

[2020-12-16 18:23] bdsvac commented on #45
@ladyada that has been done with no change in result. The Digi-Key logo is still displayed.
![PXL_20201216_182108650](https://user-images.githubusercontent.com/8561979/102389892-627f7b00-3f99-11eb-972d-4f304890d850.jpg)

[2020-12-16 18:28] ladyada commented on #45
ok email support@adafruit for a replacement. any other issues, post in the adafruit forums please

[2020-12-16 18:28] #45 closed

[2020-12-17 00:15] lemonkey commented on #44
Also seen with the spacex demo code https://learn.adafruit.com/spacex-next-launch-display-with-adafruit-magtag/code

[2020-12-17 00:50] FoamyGuy commented on #44
Can you post the contents of boot_out.txt?

Maybe try updating to the latest version of Circuit Python on your device, I think that rotation was added very recently.

[2020-12-17 00:58] cjoh commented on #44
Updating to the 12/16 build of circuitpython worked.

[2020-12-17 01:26] lemonkey commented on #44
Confirmed latest CircuitPython from today works.

[2020-12-17 01:27] FoamyGuy commented on #44
Thank you! closing this for now.

[2020-12-17 01:27] #44 closed

[2020-12-18 00:10] leadmocha commented on #43
I just tried the latest circuitpython build from today and neither of these freeze my magtag:

```from adafruit_magtag.network import Network```

nor

```import wifi```

not even the incorrect form

```from adafruit_magtag.magtag import Graphics```

freezes my MagTag.  Though, no error message is produced in the last one. Should it have stilled produced an error message?

[2020-12-19 00:12] makermelissa commented on #43
I realize it didn't produce an error message because Graphics is imported inside of the magtag class, so it was successfully just re-imported from there, which means it would have likely worked. I tested this with using the import it to successfully change the background.

It sounds like the issue is resolved, so I'm going to close this. If that's not the case, feel free to re-open.

[2020-12-19 00:12] #43 closed

[2020-12-26 21:42] djotaku opened #47 "EPaperDisplay object cannot assign attribute 'rotation'"
Using the example code from this repo. I *had* been working on the weather tutorial on the Adafruit site, but wanted to eliminate potential sources of error.

Following in the lib folder: (from the 20201225 circuit python libraries)

Folders:
- adafruit_bitmap_font
- adafrui_display_text
- adafruit_imageload
- adafruit_io
- adafruit_magtag
- adafruit_portalbase

Files:

- adafruit_fakerequests
- a

[2020-12-26 21:50] djotaku commented on #47
Nevermind, loading the latest UF2 fixes the issue.

[2020-12-26 21:50] #47 closed

[2021-01-02 00:56] ljmwaugh opened #49 "Received AttributeError on DISPLAY with magtag_simpletest.py"
This is the magtag that came with adabox017
It worked when I first plugged it in but I haven't been successful at loading any other program on it.
This is with the latest library:
adafruit-circuitpython-bundle-6.x-mpy-20210101.zip

code.py

# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
#
# SPDX-License-Identifier: Unlicense
import time
from adafruit_magtag.magtag

[2021-01-02 15:50] anecdata commented on #49
It looks like circuitpython for the wrong device is loaded onto it (`Metro ESP32S2`). Did you update circuitpython with a new `.bin` or `.uf2` file?

Here's the correct link for circuitpython for MagTag: [https://circuitpython.org/board/adafruit_magtag_2.9_grayscale/](https://circuitpython.org/board/adafruit_magtag_2.9_grayscale/). Main learn guide is here: [https://learn.adafruit.com/adafruit-mag

[2021-01-02 19:09] ladyada commented on #49
hi @ljmwaugh happy new year. yeah please try deleting the  on the magtag CIRCUITPY drive and starting at this step to install the latest and greatest circuitpy
https://learn.adafruit.com/adafruit-magtag/circuitpython
if you're still having issues, please post on forums.adafruit.com we have a team there that can help you!
https://forums.adafruit.com/viewforum.php?f=59

[2021-01-02 19:09] #49 closed

[2021-01-13 20:24] jedgarpark opened #50 "json file over ~50KB cause parse error"
Trying to grab sports scores from ESPN API v2, some json files are too large it seems to use. This one is 47KB (just team info) is fine:
http://site.api.espn.com/apis/site/v2/sports/basketball/mens-college-basketball/teams
But this one is 80KB (and has useful game schedule info) is failing:
http://site.api.espn.com/apis/site/v2/sports/basketball/mens-college-basketball/scoreboard
Here's the error:

[2021-01-14 23:33] tannewt commented on #50
@jedgarpark Mind posting the full `code.py`? That'll make it easier for me to reproduce.

[2021-01-18 16:14] makermelissa opened #51 "Make wifi_module.enabled settable"
Due to a bug in CircuitPython, I hadn't made this settable, but adding a setter shouldn't be a problem at this point.

[2021-01-27 19:53] jedgarpark commented on #50
@tannewt  here's sample code I was trying:
`#sports
import time
import terminalio
from adafruit_magtag.magtag import MagTag

# in seconds, we can refresh about 100 times on a battery
TIME_BETWEEN_REFRESHES = 24 * 60 * 60  # once a day delay

#DATA_SOURCE = "http://site.api.espn.com/apis/site/v2/sports/basketball/mens-college-basketball/teams"
#NAME_LOCATION = ['sports', 0, 'name']
#TEAM_LOCATION =

[2021-01-28 02:54] tannewt commented on #50
@jedgarpark Could you please send me the font files too?

[2021-01-28 03:12] tannewt commented on #50
Nevermind. I think I found the issue.

[2021-01-30 21:27] mdwelsh opened #52 "Unable to play WAV file"
Howdy! I am using this library to try to play a WAV file on the MagTag board using CircuitPython 6.1.0. I am trying to figure out what would need to be done to make this work.

The history of commits to peripherals.py has me somewhat confused. Initially there seemed to be a `play_wav_file` function available in a previous version of the library, which used `audioio`. However, audioio does not seem

[2021-01-30 21:37] ladyada commented on #52
yah DAC/WAV playback doesnt work on the ESP32S2 at this time, you can make beeps with the buzzer - using a PWM output (there's some magtag examples). you cannot (yet) play audio clips or waveforms

[2021-01-30 22:19] mdwelsh commented on #52
Thanks for the quick reply. Is this a software limitation or a hardware one? If it's software I might be able to fix it.

I'm still confused why trying to use `simpleio.tone()` directly gives this error. Is there a way to determine which version of the MagTag library is in use in CP 6.1.0?

[2021-01-30 22:23] ladyada commented on #52
its software, nontrivial to fix! https://github.com/adafruit/circuitpython/issues/3898
try deleteing and reinstalling all libraries - use the magtag library to make tones
if you're still having issues please post in the adafruit forum :)

[2021-01-30 22:23] #52 closed

[2021-02-10 20:01] sergiomoraes opened #53 "adafruit_portalbase Dependency Error"
### Context

* I'm following the [MagTag Quotes Board](https://learn.adafruit.com/magtag-showerthoughts/code-the-magtag-quotes) guide.

* This is my code: [MagTag Quotes Board - Sergio](https://paste.debian.net/plainh/a3e209a7)

* These are the libraries added to my MagTag board:

![mag_tag_libs](https://user-images.githubusercontent.com/21162065/107563590-1f571800-6b96-11eb-9834-edfe9cea37ed.png)

[2021-02-10 20:20] makermelissa commented on #53
Make sure your libraries are updated. That particular function is in PortalBase: https://github.com/adafruit/Adafruit_CircuitPython_PortalBase/blob/main/adafruit_portalbase/__init__.py#L304

[2021-02-10 20:24] makermelissa commented on #53
Since that function has been in PortalBase from the beginning, I suspect you may be using an older version of the MagTag library that didn't use PortalBase.

[2021-02-10 22:57] sergiomoraes commented on #53
I downloaded the newest bundle and replaced the libs in my MagTag just to be sure.
Unfortunately, that resulted in a different error message.

My best bet is probably to start from the beginning to find out where things went wrong.

Thank you!

[2021-02-10 23:07] makermelissa commented on #53
You may also want to check that you're using the latest version of CircuitPython, but I wouldn't imagine it would result in this particular error. You can download from https://circuitpython.org.

[2021-02-11 00:24] sergiomoraes commented on #53
Thank you for the help and advice. I'll try to troubleshoot my setup.

[2021-02-11 00:24] #53 closed

[2021-02-20 19:09] KTibow opened #57 "Speaker can only play so many tones"
## Problem
I found when I use `play_tone`, I can only play so many separate tones. So I can play 500 as many times as I want, at any speed. But if then I play 490, then 480, and so on, eventually it stops working.
## Explanation
The library uses `simpleio.tone`. It gives the error
[code]
eventually. This is caused by a `ValueError`, which is catched, and causes it to proceed to the line
[code]
Thi

[2021-02-23 00:16] tannewt commented on #57
Sounds like you made great progress tracking this down! Thanks!

Is there a CircuitPython bug for leaking timers in `pwmio`? That'd be good to get fixed.

[2021-02-23 20:55] KTibow commented on #57
I believe. I can reproduce it with this code:
[code]
At least in the esp32s2 implementation.

[2021-02-24 17:56] tannewt commented on #57
Ok, I'm going to move this to the CircuitPython repo. It sounds like a bug there.

[2021-03-17 11:11] akbykraz opened #59 "MagTag Project Selector"
Running Adafruit CircuitPython 6.2.0-beta.3 on 2021-03-04; Adafruit MagTag with ESP32S2 & 20210315 Libs distro, Project Selector gives 'pystack exhausted' error on json call ... Error occurs with 20210315 & 20210311 Portal_Base lib ... Error does NOT occur with 20210304 Portal_Base lib ... Code is modified SpaceX code from project ...

[3WzRocket.py.zip](https://github.com/adafruit/Adafruit_Circui

[2021-03-17 19:14] dherrada commented on #59
@akbykraz Seems like it could be an issue with versions 1.4.0 and later.

[2021-03-28 02:25] hugodahl commented on #34
I just tried this on my MagTag, with both 6.1.0 release and 6.2.0-b4 in both the default English build, as well as French.

I used both your linked .bmp file as well as the "digikey.bmp" file which was originally included (mine came in an Adabox).

Are you still experiencing this issue with either this file or a different one, @dglaude?

[2021-04-28 17:38] #51 closed

[2021-04-28 17:39] makermelissa commented on #34
Closing due to lack of response. We can always reopen this.

[2021-04-28 17:39] #34 closed

[2021-06-02 14:42] jerryneedell opened #62 "MAGTAG NEOPIXEL fails with 7.0"
With the current tip of main I get an error trying to use the magtag library
h was trying to run the "vaccine example"  https://learn.adafruit.com/adafruit-magtag-covid-vaccination-percent-tracker/code-the-vaccination-tracker
[code]
 It runs fine on 6.3.0

[2021-06-02 14:53] dherrada commented on #62
_possibly_ (but probably not) related https://forums.adafruit.com/viewtopic.php?f=60&t=179248&p=872565#p872565

[2021-06-02 15:22] tannewt commented on #62
This might be related to the internal status LED rework. I looked in the code and it works OK though. Does the sample code work ok as `code.py`?

[2021-06-02 16:48] jerryneedell commented on #62
No -same failure

[2021-06-02 17:18] jerryneedell commented on #62
It appears to be getting set here in neopixel.py https://github.com/adafruit/Adafruit_CircuitPython_NeoPixel/blob/a8e9975b3f06d454f8951254d96f99755b11d962/neopixel.py#L115 in CP 7

[2021-06-02 17:44] makermelissa commented on #62
Line 47 is just initializing the the pin to enable/disable the neopixels. This is used for power savings by allowing the users' code to disable the neopixels. It's possible this is due to the internal status rework if the NEOPIXEL_POWER pin is in use. Also, did it get renamed to NEOPIXEL_POWER_INVERTED in CP7?

[2021-06-02 18:33] jerryneedell commented on #62
in neopixel.py for CP 7 it configures the power pin -- so I think lines 47-47 of peripherals ar no longer needed (with CP 7)

[2021-06-02 20:15] makermelissa commented on #62
Ok yeah, maybe we can detect something and only run this on pre-7 versions.

[2021-07-16 02:12] pjockey commented on #62
Inquiring whether there has been any update on this thread?

[2021-07-16 15:45] makermelissa commented on #62
Not as far as I know, unless something was fixed in the core. Do you want to give it a try with the latest CircuitPython 7? Otherwise, I can probably get to this soon.

[2021-07-16 17:19] dglaude commented on #62
I can confirm the error with the latest library bundle from 20210716 and latest core:
`Adafruit CircuitPython 7.0.0-alpha.4-67-ge3bc800bb on 2021-07-14; Adafruit MagTag with ESP32S2
`

[2021-07-16 17:33] makermelissa commented on #62
Thank you :)

[2021-07-16 23:46] pjockey commented on #62
Thanks.  Getting the exact same error. CP 6.3 works great.

[2021-07-19 16:01] #62 closed

[2021-07-19 18:50] dglaude commented on #62
I took my attempt from 3 days ago , and replaced the magtag library with adafruit-circuitpython-magtag-7.x-mpy-2.1.1.zip from #63

But now my MagTag is rebooting in loop somewhere in
`magtag.network.connect()`

The only thing it say (except for print("**") deis

Where NEO is my SSID.

I will try to investigate further. But any news of someone making COVID percentage demo work (or failing like for

[2021-07-20 20:26] vanhine opened #64 "Can't set PinAlarm when using MagTag library"
Setting a PinAlarm does not work when using this MagTag library.

This is due to [`peripherals.py`](https://github.com/adafruit/Adafruit_CircuitPython_MagTag/blob/a72f2e33a42c4d48c34ca66ba524e03ccc196302/adafruit_magtag/peripherals.py#L65) initializing all of the button pins to be used by the `*_pressed()` methods.

When trying to set a PinAlarm I receive the following error:
[code]

[2021-07-21 20:59] makermelissa commented on #64
We should add PinAlarm to the library itself. It wasn't quite functional at the time I made the library and we never go around to adding it in.

[2021-07-29 23:46] PaulskPt opened #65 "Peripherals.py line 46 TypeError"
Suddenly getting TypeError in Peripherals.py, line 46: 'function missing required positional argument #3' called from a standard example script.
![Code_py](https://user-images.githubusercontent.com/9107950/127579252-54125ad9-47b6-41b5-9304-91a76f9b402e.png)

![2021-07-30_adafruit_magtag_peripherals py_error](https://user-images.githubusercontent.com/9107950/127579084-68787838-8c93-4aa6-b051-c55cf3

[2021-07-30 02:48] FoamyGuy commented on #65
I tried to replicate this issue but was unable to. I tested the latest versions of all used libraries from the bundle, and I tried CircuitPython 6.1. 0, 6.2.0, 6.3.0, and 7.0.0 alpha5. All seemed to run the simpletest script successfully for me.

@PaulskPt can you post what version of CircuitPython is on your MagTag? You can find it by checking inside of the `boot_out.txt` file. You can paste the

[2021-07-30 09:53] PaulskPt commented on #65
@FoamyGuy.
Thank you very much for your extensive investigation. To answer one of your questions: below a screenshot of the contents of boot_out.txt.

Earlier in the day I had a problem with a code.py that caused the MAGTAG to reset constantly, making it unable to connect with whatever device and/or app. I learned from @danh how to wipe out the entire flash memory using esptool from cli (I did thi

[2021-07-30 11:06] PaulskPt commented on #65
I think the problem is solved. After downloading, extracting and copying all the libraries and individual .mpy files, suddenly appeared a white screen with "Hello World"  centered (see image). Because I copied one after one - I didn't see/check at each move the result - I copied the fonts lib as last. I think (but have no prove) that the problem was the folder with adafruit_bitmap_fonts. I also de

[2021-07-30 11:40] PaulskPt commented on #65
Afterburner: I just discovered/remembered that, yesterday, I copied adafruit-circuitpython-bundle-7.x-mpy-20210729 's neopixel.mpy from the /lib/seesaw folder instead from the /lib folder. Maybe that caused the error.

[2021-07-30 12:55] #65 closed

[2021-07-30 13:34] FoamyGuy commented on #65
Ah! yes I have just confirmed on my device that using the `neopixel.mpy` file from inside of the `adaruit_seesaw` library instead of the "standard" neopixel library file does cause the error that you saw.

With regards to the restarts and reconnecting to the host PC I am probably not the most well suited to answer that. I don't recall ever encountering an issue like that before and my host OS is L

[2021-07-30 17:53] makermelissa commented on #65
Glad you were able to figure it out and thank you @FoamyGuy for helping.

[2021-08-08 09:32] ThomasAtBBTF commented on #64
I am working on a project where 12 processor pins are used on a nRF52840 and I am running into the same / similar problem.
It would be good if already initialized / in use pins could be added to ```alarm.light_sleep_until_alarms```.
I fear, deinitializing all 12 pins (which I use to detect user input) before "going to sleep" and reinitializing them after "wake up" takes to long and will result in

[2021-08-08 13:57] ThomasAtBBTF commented on #64
Maybe I better open a new Feature Request in CircuitPython

[2021-09-02 14:10] stephanschulz opened #66 "how to set tone volume"
The MagTag is great but the buzzer sound is very loud.
Is there an option to set the volume directly or make a change to one of the libraries?

Thanks for any advice.

[2021-09-04 03:42] RufusVS opened #67 "play_tone function should not raise Value error on frequency of 0"
Currently in the library, if a zero frequency is specified to play_tone, a ValueError is thrown.   In most other similar implementations, a value of 0 simply represents silence, or rest, for the duration specified.  There is no reason for this implementation to be different.  Also, this change is not likely to affect any user's existing code.

Current Code:
[code]

Suggested change:
[code]

[2021-09-07 20:25] tannewt commented on #67
@kattni What do you think the right way of doing rests is?

[2021-09-07 20:26] tannewt commented on #67
`play_tone` is blocking so it could just be a `time.sleep(duration)` instead.

[2021-09-08 16:35] tannewt commented on #67
I agree that in this case it is simpler. However, I'm not sure that it's better in the case where frequency is the result of a computation that shouldn't return zero but does due to an error. Input validation can make it easier to find bugs. I'm not sure allowing zero frequency is better for all cases.

[2021-09-15 21:24] makermelissa commented on #66
Currently this is just a wrapper for the `tone()` function in simpleio (https://github.com/adafruit/Adafruit_CircuitPython_SimpleIO/blob/main/simpleio.py#L37-L69). The tone function doesn't provide any parameters for setting the volume (amplitude), but I wonder if it could be added.

[2021-09-27 17:42] FoamyGuy opened #69 "Missing Type Annotations"
There are missing type annotations for some functions in this library.

The `typing` module does not exist on CircuitPython devices so the import needs to be wrapped in try/except to catch the error for missing import. There is an example of how that is done here:

[code]

Once imported the typing annotations for the argument type(s), and return type(s) can be added to the function signature. Here

[2021-11-18 22:42] caternuson opened #73 "BMP not displaying properly using set_background()"
Guessing this is just something related to changes in CP.

Was using this BMP for testing:
https://github.com/adafruit/Adafruit_Learning_System_Guides/blob/main/MagTag_Weather/bmps/weather_bg.bmp

And then this:
[code]
results in all dark display.

It seems to be MagTag library related. This example *does* work:
[code]

[2021-11-18 23:00] makermelissa commented on #73
Ok, found the issue and moving to PortalBase...

[2021-12-10 15:38] dhalbert opened #75 "NeoPixels can't be disabled"
@foamyguy and https://forums.adafruit.com/viewtopic.php?f=60&t=186080 report NeoPixel disabling no (no longer/) works.

Example:
[code]
Pixels still turn blue.

[2021-12-10 15:47] FoamyGuy commented on #75
A bit more troubleshooting reveals that when the library attempts to initialize the DigitalInOut for the `NEOPIXEL_POWER` pin the system believes that `NEOPIXEL_POWER_INVERTED` is already in use. The code from here:
https://github.com/adafruit/Adafruit_CircuitPython_MagTag/blob/e1e6a636abd7e96974c19d302cd76ef373169bb6/adafruit_magtag/peripherals.py#L47-L52

Is raising and catching the error. I add

[2021-12-10 15:51] FoamyGuy commented on #75
I have also found that bypassing the library and directly handling the NEOPIXEL and `NEOPIXEL_POWER` pins does work as expected. With the following code we see the red light and the neopixels are turned off so we never see the blue light:
[code]

[2021-12-10 16:10] FoamyGuy commented on #75
I think I understand the root of this issue. the `neopixel` library is initializing `NEOPIXEL_POWER` itself now here:

https://github.com/adafruit/Adafruit_CircuitPython_NeoPixel/blob/9ca3bf00c6a2dd1de2d315a3b952a381d720aa7d/neopixel.py#L129-L143

This means it's already in use by the time the MagTag library tries to initialize it.

With my other direct pin example above I initialized the power pi

[2021-12-10 16:22] #75 closed

[2021-12-23 00:13] patja commented on #64
Hello.  I am wondering if there are workarounds to this issue.

Is there a prior version of the library that will work?  I am trying to get a pin alarm to wake the MagTag from deep sleep, as demonstrated by this project:  https://learn.adafruit.com/magtag-dishwasher-status/wake-on-button and I am guessing it must have worked at the time it was written.

Any advice on a hack to free up the pin for

[2021-12-29 14:53] joshuapinter commented on #64
I'm now running up against this limitation as well.

@makermelissa Is this something that we can fork and submit a PR for? I don't have a time of time and I'm new to CircuitPython, but let me know what you'd like to see and I'll see what I can do. Thanks.

[2021-12-29 15:03] joshuapinter commented on #64
Just to jump on this a little more, can somebody explain a bit for me.

[code]

Is the accelerometer input pin (I believe it is `IO9` based on https://learn.adafruit.com/assets/98548) shared with the buttons?

Or can someone explain a bit of the electronics and what needs to happen to allow us to easily set the accelerometer pin alarm, then I can take a look at modifying the library to make it wor

[2021-12-29 16:28] patja commented on #64
I was able to work around this issue by calling deinit() on the button pin prior to setting it up for a pin alarm.  You won't be able to use it for anything except an alarm until it wakes up again, but that worked for me.  I just moved the deinit() and pin alarm setup to the end of my script, right before going into deep sleep.

Then I ran afoul of bug [5343 ](https://github.com/adafruit/circuitpy

[2021-12-29 16:33] joshuapinter commented on #64
@patja Awesome, thanks for the response!

For `deinit()`, do you need to call it with any params? Or just `magtag.deinit()` _(assuming I initialized it with `magtag = MagTag()`)_?

[2021-12-29 16:53] ladyada commented on #64
@makermelissa is out for holiday but will take a look when she returns :)

[2021-12-29 16:59] patja commented on #64
[code]

Wakes when whichever comes first:  time alarm or pin alarm

[2021-12-29 17:07] joshuapinter commented on #64
@patja Friggin' awesome! Thanks for posting the code. I'll be using an alarm/interrupt from the accelerometer so I'll see if anything special needs to be done with that as well. I'll post back here with any interesting results.

I hope your Christmas Gifts turned out great and were appreciated by the recipients! :)

[2022-01-03 16:52] makermelissa commented on #64
Yes, please do submit a PR if you would like. I think the code for this actually lives inside the Superclass library Adafruit_CircuitPython_PortalBase. Otherwise, I will take a look soon.

@patja thanks for posting a solution that works. It will probably help with debugging the real issue.

[2022-01-03 17:13] patja commented on #64
I've thought about this issue and I'm not totally convinced a code change is merited.  Might just need documentation updates.

Perhaps my imagination is lacking, but what is the scenario in which a pin must be both used for interaction as a button AND as an alarm pin simultaneously?

It seems fine to me to just deinit the pin from the Magtag object to free it up for alarm use just before going to

[2022-01-04 16:42] joshuapinter commented on #64
@patja Yup, I agree. After playing with your sample code and setting up an alarm for both buttons and accelerometer pins, everything seemed to work well and make sense. I think with better docs, using `deinit` seems like the most clear and transparent thing to do. A little less magic behind the scenes is the sometimes (often?) the right way to go.

I'll shelve the PR and any code changes for now.

[2022-02-05 01:34] VPTechOps opened #77 "#76 breaks status_neopixel using board.NEOPIXEL"
The change for the neopixel power issue now prevents using board.NEOPIXEL for the network status_neopixel operand. I used the magtag library as magtag = Magtag(status_neopixel = board.NEOPIXEL). This will reproduce the issue.

I found that the initialization of Magtag() now initializes Network() before Peripherals(). When the status_neopixel operand is processed, Network() generates a new neopixel

[2022-02-05 02:05] FoamyGuy commented on #77
@VPTechOps Thank you for reporting, want to make a PR with those changes?

[2022-02-05 07:03] VPTechOps commented on #77
I will do that. I need to update the code in network.py to allow anyone using a pin other than board.NEOPIXEL to still use the status_neopixel parameter with their pin. Will work on it later today.

[2022-02-12 00:05] makermelissa commented on #67
Fixed via #68.

[2022-02-12 00:05] #67 closed

[2022-03-02 09:17] djh1997 opened #79 "OSError: [Errno 5]"
when trying to copy files on the my magtag it is showing as read only drive even after re-flashing the uf2

[2022-03-02 11:17] #79 closed

[2022-03-04 09:27] djh1997 opened #80 "Multiple wifi"
The secrets.py looks suspiciously like a wpa_supplicant.conf file but we can only put one wifi in there is there a way to put multiple as I would love my tag to work at home and office

[2022-03-04 15:36] anecdata commented on #80
That's not the way the typical example code works, but there's nothing preventing you from storing multiple sets of credentials, and trying them successively in your code.py.

[2022-03-04 16:58] FoamyGuy commented on #80
The libraries and all or most widely published user code currently are hard coded to expect a single entry in secrets with the network details. I am not aware of anything currently that would use any entries beyond the first.

The libraries could eventually be updated to attempt to use the next one in a list if the first one is not available and so on, but that change will need to be carried out i

[2022-03-04 17:02] tekktrik commented on #80
It does also look like the base library `adafruit_portalbase.network.NetworkBase` allows for overriding using the contents of `secrets.py` using the `secrets_data` argument.  Is it worth exposing that as an argument to both this libraries `adafruit_magtag.network.Network` and `adafruit_magtag.magtag.MagTag`?

[2022-03-04 17:45] FoamyGuy commented on #80
@tekktrik my understanding is that the classes in this library are extending the ones from the PortalBase library, so I think you can use that argument without needing to specifically add it into this library. Though adding it here explicitly would allow it to appear in the documentation I think.

[2022-03-04 18:01] makermelissa commented on #80
@FoamyGuy is correct. PortalBase is the Base Class for all Portal style libraries.

[2022-03-04 18:20] tekktrik commented on #80
I don't think any of that information actually gets passed to the base classes though.  Here's my train of thought: It looks like the only things getting passed to `Network` in during `MagTab.__init__()` are these three arguments:

[code]

`Network` then goes on to initialize `NetworkBase` with the same values

[code]

As is, `MagTag.__init()` (or the above) doesn't take other non-specified argume

[2022-03-07 23:21] makermelissa commented on #66
Unfortunately, this is a square wave with no amplitude control, so there doesn't appear to be a way to add this.

[2022-03-07 23:21] #66 closed

[2022-03-07 23:22] makermelissa commented on #77
Fixed via #78.

[2022-03-07 23:22] #77 closed

[2022-03-11 23:47] makermelissa commented on #80
I took a closer look at this. I had implemented this previously in the ESP32SPI library: https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI/blob/main/adafruit_esp32spi/adafruit_esp32spi_wifimanager.py#L133-L154 which just calls _get_next_ap to get the next access point.

However, the MagTag uses the built in ESP32-S2 WiFi stack, so it completely bypasses this. The best place to add this f

[2022-03-21 13:32] #69 closed

[2022-04-06 02:45] pianohacker opened #84 "Battery reads much higher and narrower than expected"
With a 4.2-3.7V LiPo battery plugged in, `MagTag().peripherals.battery` reads 5.3-5.2V.

[2022-04-06 03:16] dhalbert commented on #84
Originally reported in https://github.com/adafruit/circuitpython/issues/6148, fix in progress in https://github.com/adafruit/circuitpython/pull/6246. This is a core CircuitPython issue.

[2022-04-06 03:16] #84 closed

[2022-04-06 03:19] pianohacker commented on #84
Thanks for the quick response. Is there any workaround?

[2022-04-06 03:26] dhalbert commented on #84
Try waiting at least one second before reading the battery voltage after creating the `MagTag()` object. Are you calling it immediately?

[2022-04-06 03:30] dhalbert commented on #84
More precisely, you can call it once, then wait at least one second and call it again (this is only the first time):
[code]

[2022-04-06 03:42] pianohacker commented on #84
Thanks, that works. Why are the two reads necessary, no matter how far apart the two reads are?

[2022-06-09 18:54] raymond-li opened #85 "alarm.light_sleep_until_alarms() returns None for PinAlarms when not plugged into PC"
I'm having trouble getting light sleep working with PinAlarms on my MagTag. Any ideas or workarounds for using light sleep and getting the button state when not plugged into a PC?

Steps to reproduce:
1. Copy code.py onto the MagTag (CircuitPython)
2. Unplug the MagTag from the PC
3. Re-boot the Magtag
4. Press either of the two middle buttons (B or C) to exit deep sleep and enter the light sleep

[2022-06-18 20:06] diego-wh opened #86 "Needs override for remove_all_text from parent portal base to avoid a refresh exception"
Portalbase has a function to remove all text (remove_all_text) this calls self.set_text  to clear the labels.
Since magtag overrides this call to add the option to do a refresh ( auto_refresh: bool = True ) it would be nice to have an override of this function that takes the auto_refresh parameter. If we have more than a couple of labels (text fields) it is likely we will get the Refresh too soon

[2022-06-20 19:59] ladyada commented on #86
wanna submit a PR? @makermelissa can review when she returns in a couple weeks

[2022-07-22 03:44] timwoj opened #88 "Voltage values seem questionable"
The documentation says that I can retrieve the current voltage from the battery with `magtag.peripherals.battery`. Retrieving that value gives something back that seems non-sensical to me. For example, my magtag currently says that the battery is returning 414729 volts.

[2022-07-22 05:07] timwoj commented on #88
Never mind, I see https://github.com/adafruit/Adafruit_CircuitPython_MagTag/issues/84. Closing this one as a dupe.

[2022-07-22 05:20] #88 closed

[2022-07-22 12:44] dhalbert commented on #88
I think there may be a solution to this by adjusting the reset state of the pin. I've transfered the original library issue to https://github.com/adafruit/circuitpython/issues/6631.

[2022-09-15 00:49] tekktrik commented on #64
Opening this up for Hacktoberfest!

Documentation is needed for letting readers know that buttons must call `deinit()` or the `peripherals` attribute of the MagTag object must call `deinit()` in order for them to be used as a [PinAlarm](https://docs.circuitpython.org/en/latest/shared-bindings/alarm/pin/index.html#alarm.pin.PinAlarm) before the MagTag enters light/deep sleep.